#loading{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: absolute;
    background: #1f1f1f;
    >div{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 400px;
      max-height: 400px;
      width: 100%;
      height: 100%;
      margin: 0 20px;
    }
    img{
      z-index: 1;
      width: 100%;
      padding: 32px;
    }
    .circle{
      background: radial-gradient(#cd1041 60%, white);
      width: 0%;
      opacity: 0;
      position: absolute;
      border-radius: 50%;
      z-index: 0;
      animation: scaleIn 2s infinite cubic-bezier(0.36, 0.11, 0, 1);
      &:before {
          content: '';
          display: block;
          padding-top: 100%;
      }
    }
}

@keyframes scaleIn {
  0% {
    width: 0%;
    opacity: 1;
  }

  100%{
    width: 100%;
    opacity: 0;
  }
}
