@import '../../sass/variables';
#footer {
  .footer-grid{
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(-45deg, #54071b, #af103a, #54071b);
    justify-content: center;
    color: white;
    > div{
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      &.logo{
        justify-content: center;
        padding: 50px 0;
        background: #191919;
        box-shadow: inset black 0 0 4px;
        order:1;
      }
      table{
        border-spacing: 2rem 1rem;
        border-collapse: separate;
        th{
          text-align: left;
        }
        tr{
          &:not(last-child){
            margin-bottom: 10px;
          }
        }
      }
      &.contact{
        padding: 17.5px 0 50px;
        h4{
        }
        >div{
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          >div{
            display: inline-block;
            vertical-align: top;
            margin: 10px;
            h5{
              font-size: 1rem;
              margin-bottom: 10px;
            }
            p{
              margin-bottom: 5px;
              font-size: .8rem;
            }
          }
        }
      }
      &.hours{
        padding: 50px 0 17.5px;
      }
    }
  }
  .copy{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 5px;
    background: #191919;
    color: white;
    font-size: .8rem;
  }
}

@media screen and (min-width: 767px) {
  #footer {
    .footer-grid{
      > div{
        width: 50%;
        &.logo{
          width: 100%;
        }
        &:not(last-child){
          margin-bottom: 0px;
        }
        &.contact{
          padding: 50px 0;
          >div{
            display: flex;
            flex-wrap: wrap;
            >div{
            }
          }
        }
        &.hours{
          padding: 50px 0;
        }
      }
    }

  }
}

@media screen and (min-width: 1025px) {
  #footer {
    .footer-grid{
      > div{
        width: 33.33% !important;
        margin-bottom: 0px !important;
        &.logo{
          order: 0;
        }
      }
    }

  }
}
