#gallery{
  background: linear-gradient(rgba(175, 16, 58, 0.9), rgba(175, 16, 58, 0.9)), url(/img/Backgrounds/diamond.png);
  //display: grid;
  >div{
    //display: table;
    max-width: 1400px;
    margin: 0 auto;
    min-height: inherit;
    h3{
      color: #e4e4e4;
    }
    .ReactGridGallery{
      justify-content: center;
      padding: 0 0 40px;
    }
  }
}
