#menu{
  color: white;
  .container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 50px 20px;
    .title-bar{
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      justify-content: space-between;
      h3{
        font-size: 3rem;
        font-family: 'Cinzel Decorative', cursive;
      }
      > div{
        a{
          color: #ae1039;
          font-weight: 600;
          letter-spacing: 2px;
          &:not(:last-child){
            padding-right: 5px;
            border-right: solid white 1px;
          }
          &:not(:first-child){
            padding-left: 5px;
          }
        }
      }
    }
  }
}
