#menu {
  color: #e4e4e4;
  background: linear-gradient(rgba(175, 16, 58, .9), rgba(175, 16, 58, .9)),url(/img/Backgrounds/diamond.png);
  .container {
    max-width: 1400px;
    margin: 0 auto;
    border-left: solid 1px #848484;
    border-right: solid 1px #848484;
    box-shadow: black 0 0 10px;
    background: #1f1f1f;
    min-height: inherit;
    overflow: hidden;
    > div {
      display: flex;
      flex-wrap: wrap;
      &.title-bar {
        background: linear-gradient(rgba(11, 11, 11, 0.9),rgba(11, 11, 11, 0.9)), url(/img/Backgrounds/info_bg.jpg);
        background-position: center;
        height: 150px;
        margin-bottom: 20px;
        border-bottom: solid #e4e4e4;
        >div{
          align-items: flex-end;
          justify-content: space-between;
          display: flex;
          width: 100%;
          margin: 0 20px;

          h3 {
            font-size: 3rem;
            font-family: 'Cinzel Decorative', cursive;
            margin-bottom: -3px;
          }

          .sidebar {
            margin-bottom: 2px;
            > p {
              color: #ae1039;
              font-weight: 600;
              letter-spacing: 2px;
                  display: inline;

              &:not(:last-child) {
                padding-right: 5px;
                border-right: solid #e4e4e4 1px;
              }

              &:not(:first-child) {
                padding-left: 5px;
              }
            }
          }
        }
      }
      &.menu-cols{
        padding: 20px 0 40px;
        .category-col {
          width: 100%;
              padding: 0 20px;
          h4 {
            font-size: 2rem;
            margin-bottom: 16px;
            font-family: 'Cinzel Decorative', cursive;
            border-bottom: #ad103a dotted 12px;
          }
          div {
            margin-bottom: 20px;
            h6{
              font-weight: 600;
              font-size: 1rem;
            }
            p{
              margin-bottom: 5px;
              font-size: .8rem;
              font-weight: 100;
              line-height: 1rem;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px){
  .menu-cols{
    padding: 20px 0 40px;
    .category-col {
      width: 50% !important;
          padding: 0 20px;
      }
    }
}
@media only screen and (min-width: 1025px){
  .menu-cols{
    padding: 20px 0 40px;
    .category-col {
      width: 33.33% !important;
          padding: 0 20px;
      }
    }
}
