@import 'sass/variables';
@import 'sass/reset';
@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative&display=swap');

html {
  font-size: 100%;
}

body {
  padding: 60px 0 0;
}

#root {
  >section{
    &:nth-child(2){
      min-height: calc(100vh - 52px);
      background: #1f1f1f;
    }
  }
}

#root,
body,
html {
  color: $light-black;

  h1 {
    font-size: 3rem;
  }
  h4{
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  a {
    text-decoration: none;
    color: white;
  }

  .MuiButton-outlined {
    border: 1px solid #20232a;
    background: rgba(0, 128, 0, 0.7);
    font-weight: 600;
    letter-spacing: 1px;
    color: #ffffff;
    padding: 10px 30px;
    font-size: 1.1rem;
    margin-top: 30px;
    font-family: 'Oswald', sans-serif;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);

    &:hover {
      box-shadow: none;
      background: rgba(0, 128, 0, 0.9);
    }
  }
}

@media only screen and (min-width: 769px) {
  #root{
    >section{
      &:nth-child(2){
        min-height: calc(100vh - 52px);
        background: #1f1f1f;
      }
    }

  }
  body {
    padding: 60px 0 0;
  }
}
