#info {
  background: linear-gradient(rgba(25, 25, 25, 0.99), rgba(25, 25, 25, 0.99)), url(/img/Backgrounds/diamond.png);
  background-position: center;
  border-top: #cd1041 solid;
  overflow: hidden;
  text-shadow: black 0px 6px 2px, black 0px 0px 5px;
  .info-wrapper {
    color: white;
    margin: 40px 20px;
    .happy-hour{
      justify-content: center;
      align-items: center;
      .baseball-wrapper{
        display: flex;
        justify-content: center;
        max-width: 100px;
        margin: 10px;
        img{
          width: 100%;
        }
      }
      h2 {
        font-size: 4rem;
        text-transform: uppercase;
        font-weight: 700;
        color: #cd1242;
        -webkit-text-stroke: #ffffff 1px;
        text-align: center;
      }
      img{
        width: 100%;
        border-radius: 50%;
        box-shadow: black 2px 2px 10px 10px, #ffffff33 0px 0px 3px 10px;
      }
    }

    .info-body{
      display: flex;
      margin: 40px 0px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .info-animate{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .animated {

      &:first-child {}

      .times {
        width: 100%;
        max-width: 500px;
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: solid #ad103a;
        p{
            font-size: 1.8rem;
            font-weight: 100;
            margin-bottom: 10px;
        }
        .happy-hour-numbers{
          font-size: 3rem;
          font-weight: 100;
          margin-bottom: 20px;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          .dash{
            font-weight: 700;
            margin: 0 10px;
          }
          .pm{
            align-self: flex-end;
          }
          .pm, .dash{
            font-size: 1.5rem;
            color: #cd1242;
          }
        }
      }

      .featured-meals {
        width: 100%;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        margin-top: 20px;
        font-weight: 100;
        p{
          text-align: center;
          &:not(:last-child) {
            margin-bottom: 16px;
          }
        }
      }
    }
  }
  .flex{
    margin-right: 100px;
    margin-left: 100px;
    .brunch{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      p{
        position: absolute;
        font-size: 5.5rem;
        text-transform: uppercase;
        font-weight: 700;
        color: #ad103a;
        -webkit-text-stroke: #191919 4px;
        text-align: center;
    }
    }
    &.brunch-info{
      max-width: 500px;
    }
  }
}
@media only screen and (min-width: 769px) {
  #info {
    text-shadow: black 0px 4px 7px, black 0px 0px 10px;
    .info-wrapper {
      .happy-hour{

        display: flex;
        justify-content: center;
        align-items: center;
        h2 {
          font-size: 3rem;
          text-transform: uppercase;
          font-weight: 700;
          color: #cd1242;
          -webkit-text-stroke: #ffffff 1px;
          text-align: center;
        }
      }
      .info-body{

        .info-animate{

        }
      }
      .animated {

        &:first-child {}

        .times {

          p{

          }
          .happy-hour-numbers{

            .dash{

            }
            .pm{

            }
            .pm, .dash{

            }
          }
        }

        .featured-meals {

          p{
            &:not(:last-child) {
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  #info {
    text-shadow: black 0px 6px 2px, black 0px 0px 5px;
    .info-wrapper {
      .happy-hour{
        display: flex;
        justify-content: center;
        align-items: center;
        h2 {
          font-size: 5rem;
          text-transform: uppercase;
          font-weight: 700;
          color: #cd1242;
          -webkit-text-stroke: #ffffff 1px;
          text-align: center;
        }
        img{

        }
      }
      .info-body{
        display: flex;
        flex-direction: row;
        align-items: center;
        .info-animate{
          width: 50%;
          align-self: stretch;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      .animated {

        &:first-child {}

        .times {
          width: 100%;
          max-width: 500px;
          margin-bottom: 0px;
          padding-bottom: 0px;
          border: 0px;
          p{
              font-size: 2rem;
              margin: 0px;
          }
          .happy-hour-numbers{
            font-size: 4rem;
            font-weight: 100;
            margin-bottom: 0px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            .dash{
              font-weight: 700;
              margin: 0 10px;
            }
            .pm{
              align-self: flex-end;
            }
            .pm, .dash{
              font-size: 2rem;
              color: #cd1242;
            }
          }
        }

        .featured-meals {
          width: auto;
          font-size: 2rem;
          margin-top: 0px;
          p{
            text-align: center;
            &:not(:last-child) {
              margin-bottom: 16px;
            }
          }
        }
      }
    }
  }
}