#info {
  background: linear-gradient(rgba(11, 11, 11, 0.9),rgba(11, 11, 11, 0.9)), url(/img/Backgrounds/info_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top: #cd1041 solid;
  overflow: hidden;
  .info-wrapper{
    display: flex;
    justify-content: center;
    padding: 50px 0;
    color: white;
    flex-direction: column;
    align-items: center;
    .animated{
      max-width: 500px;
      width: 100%;
      padding: 50px 30px;
      border-bottom: #af103a solid;
      border-top: #af103a solid;
      min-height: 366px;
      background: rgba(11, 11, 11, 0.7);
      margin: 0 25px;
      box-shadow: inset black 0 0 4px;
      &:first-child{
        margin-bottom: 50px;
      }
      h2{
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: 700;
        color: #cd1041;
        margin-bottom: 20px;
        -webkit-text-stroke: white 2px;
        text-align: center;
      }
      .times{
        text-align: center;
        margin-bottom: 40px;
      }
      .featured-meals{
            text-align: center;
        p{
          display: grid;
          span{
            color: #cd1041;
            font-size: .6rem;
            margin-top: 5px;
          }
          &:not(:last-child){
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 769px) {
  #home {
    #info {
      .info-wrapper{
        padding: 100px 0;
        flex-direction: row;
        align-items: unset;
        .animated{
          max-width: 500px;
          width: 100%;
          padding: 30px 30px;
          border: #af103a solid;
          &:first-child{
            margin-bottom: unset;
          }
          h2{
            margin-bottom: 20px;
          }
          .times{
            text-align: center;
            margin-bottom: 40px;
          }
          .featured-meals{
                text-align: center;
            p{
              span{
              }
              &:not(:last-child){
              }
            }
          }
        }
      }
    }
  }
}
