.button-row{
  display: flex !important;
  justify-content: center;
  .MuiButton-outlined {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
    border: none !important;
    letter-spacing: normal !important;
    font-size: 1rem !important;
    &:hover {
      box-shadow: none;
      background: rgba(0, 128, 0, 0.9);
    }
    &.edit-btn{
      margin-right: 10px;
      background: #0202a7 !important;
      &:hover{
        background: #4444cc !important;
      }
    }
    &.delete-btn{
          background: #c50539 !important;
      &:hover{
        background: #d83863 !important;
}
    }
  }
}
.dashboard-ingredients{
  max-width: 980px;
  width: 100%;
}

.MuiTableCell-root{
  padding: 10px 16px !important;
}

.dashboard-name{
    width: 15%;
}


.toolbar-me{
  display: flex;
  flex-direction: column;
  h1{
    margin-bottom: 20px;
  }
  .toolbar{
    display: flex;
    align-items: center;
    align-self: flex-end;
    flex-wrap: wrap;
    width: 100%;
    button{
        padding: 8px;
        i{
          font-size: 1.5rem;
        }
    }
    .dashboard-search-bar{
      height: 35px;
      margin-left: auto;
      display: flex;
      align-items: center;
      border-bottom: 1px solid gainsboro;
      select{
        height: 100%;
        font-size: 1rem;
        padding: 0 5px;
        border: none;
         outline-width: 0;
             color: #757575;
      }
      input{
        height: 100%;
        font-size: 1rem;
        padding: 0 5px;
        border:none;
         outline-width: 0;
      }
      i{
        font-size: 1.2rem;
    color: #757575;
    margin-left: 10px;
      }
    }
  }
}
